{% extends "base_templates.html" %}

{% block headers %}
<link rel="stylesheet" href="/static/css/events_styles.css">
{% endblock %}

{% block title %}
Список мероприятий
{% endblock %}

{% block content %}
<section class="events-section">
    <h1 class="section-title">Мероприятия</h1>
    <div class="events-list">
        {% for event in events %}
        <div class="event-card">
            <h2 class="event-title">{{ event.name }}</h2>
            <p class="event-description">{{ event.description }}</p>
            <p class="event-date-time">{{ event.date }}</p>
            <a onclick="redirectToCurrentEventPage({{ event.id }})" class="event-link">Подробнее</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
