<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram WebApp</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/js/tg_config.js?v=1.0.2"></script>

</head>
<body>
    <div>
        <h1>Добро пожаловать в Telegram WebApp</h1>
        <button onclick="redirectToMainPage()">Начать</button>
    </div>
    <script src="/static/js/save_tg_id.js"></script>
</body>
</html>
