{% extends "base_templates.html" %}
{% block title %}
Профиль
{% endblock %}

{% block content %}
        <header>
            <div class="profile-header">
<!--                <img src="/static/img/fokin.png" alt="User Avatar" class="avatar" style="width: 20%; border-radius: 100%;">-->
                <h1 class="username">{{ user.last_name }} {{ user.first_name }}</h1>
            </div>
            <div class="balance-section">
                <div class="balance-header">
                    <p class="balance-value">{{ user.balance }}</p>
                    <img src="/static/img/logo.png" alt="CKPcoin Logo" class="logo" style="margin-left: 10px;">
                </div>
            </div>
        </header>
        <main>
            <section class="info-cards">
                {% if user.role_id == 2 %}
                <a href="/pages/all_past_events" class="info-card blue-card">
                    <p class="card-title">Прошедшие мероприятия</p>
                </a>
                {% else %}
                <a onclick="redirectToPortfolioPage()" class="info-card blue-card">
                    <p class="card-title">Портфолио 🔥</p>
                </a>
                {% endif %}


                <a onclick="redirectToProfilePage()" class="info-card purple-card">
                    <p class="card-title">Настройки профиля ⚙️</p>
                </a>
            </section>

            <section class="navigation">
<!--                <a onclick="redirectToWalletPage()" class="nav-button">История транзакций</a>-->
                <a href="#" class="nav-button">Связаться с поддержкой</a>
            </section>
        </main>
{% endblock %}
